.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}

.userListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#userListHeading {
  font: 400 2rem "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
  margin: 2rem;
  text-align: center;
}
.MuiDataGrid-columnHeader {
  background-color: rgb(7, 75, 123);
  color: white !important;
}

.userListTable {
  background-color: white;
  border: none !important;
}

.userListTable div {
  font: 300 1vmax "Roboto";

  border: none !important;
}

.userListTable a,
.userListTable button {
  /* color: rgba(0, 0, 0, 0.527); */
  transition: all 0.5s;
}

.userListTable a:hover {
  color: tomato;
}

.userListTable button:hover {
  color: rgb(236, 30, 30);
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255) !important;
}
.MuiDataGrid-cellContent {
  color: none !important;
}
@media screen and (max-width: 600px) {
  .productListTable div {
    font: 300 4vw "Roboto";
  }
}
